/* 作者：王贵 */
.main {
  background-color: #fff;
}
.main nav ul {
  overflow: hidden;
  padding: 10px;
}
.main nav ul li {
  float: left;
  width: 33.3%;
}
.main nav ul li a {
  display: block;
  width: 100%;
}
.main nav ul li a img {
  width: 100%;
}
.main .product ul {
  overflow: hidden;
  padding: 10px;
  padding-bottom: 0px;
}
.main .product ul li:nth-child(odd) {
  width: 48%;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}
.main .product ul li:nth-child(odd) a {
  display: block;
  width: 100%;
}
.main .product ul li:nth-child(odd) a img {
  width: 130px;
  height: 130px;
}
.main .product ul li:nth-child(even) {
  width: 48%;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: right;
  text-align: center;
  margin-bottom: 10px;
}
.main .product ul li:nth-child(even) a {
  display: block;
  width: 100%;
}
.main .product ul li:nth-child(even) a img {
  width: 130px;
  height: 130px;
}
