.main {
  background-color: #fff;
}
.search_ipt {
  padding: 10px;
  position: relative;
}
.search_ipt input {
  height: 34px;
  border-radius: 5px;
  border: 1px solid #007AFF;
  margin: 0;
}
.search_ipt button {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 5px 5px 0;
}
.history {
  padding: 10px;
  padding-bottom: 0;
}
.history .htop {
  height: 30px;
}
.history .htop span {
  line-height: 30px;
  color: #666666;
}
.history .hbottom {
  overflow: hidden;
}
.history .hbottom li {
  height: 30px;
  border-left: 1px dashed red;
  border-bottom: 1px dashed red;
  border-right: 1px dashed red;
  line-height: 30px;
}
.history .hbottom li span {
  float: left;
}
.history .hbottom li i {
  float: right;
}
.history .hbottom li:nth-child(1) {
  border-top: 1px dashed red;
}
.history .hbottom li span {
  float: none;
}
